.App {
  text-align: center;
  margin-top: 15px;
  color: black;
}

.App-questionmark {
  height: 20vmin;
  pointer-events: none;
  position:fixed;
  right: 0%;
  bottom: 0%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-questionmark {
    animation: App-questionmark-spin infinite 20s linear;
  }
}

@keyframes App-questionmark-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-image: url("quiz.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}


